ion-content {
  --background: #E5E9B4;
}
#back {
  margin-left: 16px;
  color: #606330;
  margin-top: 16px;
  ion-icon {
    font-size: 20px;
    margin-right: 8px;
  }
}
#header {
  margin: 20px 20px;
  color: #606330;
  p {
    margin-top: 8px;
    font-size: 16px;
  }
  margin-bottom: 0px;

  ion-icon {
    font-size: 20px;
    margin-right: 8px;
  }

  strong {
    display: flex;
    align-items: center;
  }
}
#button-area {
  display: flex;
  justify-content: center;
}
.button-saveds {
  align-self: center;
  color: #606330;
  ion-icon {
    margin-left: 10px;
  }
}

.input {
  --background: #FBFEE0; /* Remove o fundo padrão dos inputs */

  border: 1px solid #606330; /* Adiciona a borda aos inputs */
  border-radius: 30px; /* Torna as bordas arredondadas (opcional) */
  margin-bottom: 16px; /* Espaçamento entre os inputs */
  height: 36px;
  padding-left: 10px;
  color: #606330;
  margin-top: 0;
  overflow: hidden;
  width: 231px;
}

.input-container {
  flex: 1;
}

ion-input {
  --padding-start: 16px; /* Ajusta o padding interno do input */

}

.container {
  flex: 1;
  --background: transparent !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item {
  background-color: #FBFEE0;
  width: 312px;
  min-height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #606330;
  display: flex;
  flex-direction: column;

  border: 1px solid #606330;

  p.item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
  }

  img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  ion-icon {
    margin-right: 4px;

  }
  ion-chip {
    --background: #E5E9B4;
    --color: #606330;
    max-width: 90px;
  }

  .types {
    margin: 0 10px;
  }

  .types-top {
    margin-left: 10px;
  }

  .item-buttons {
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #606330;
    ion-button {
      --color: #606330
    }
    ion-button.saved {
      --color: #765594
    }
  }
}

.list {
  background-color: #E5E9B4;
}
